h1 Activate Email

p
  u This&nbsp;
  | is where everything goes for&nbsp;
  i activate.&nbsp;
  | Please click on the following URL:

p
  a(href!="#{activation_link + link_querystring}") !{activation_link}

p
  b Thanks