h1 Password Reset Email

p
  u This&nbsp;
  | is where everything goes for&nbsp;
  i password reset.&nbsp;
  | Please click on the following URL:

p
  a(href!="#{link_querystring}") !{passwordreset_link}

p
  b Thanks
